[Unit]
Description=Post station status to Wistron website
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
User=falab
Group=falab
WorkingDirectory=/home/falab
EnvironmentFile=/etc/wistronlabs/station-status.env
ExecStart=/opt/wistron-host-services/scripts/station_status_json_gen.sh
TimeoutStartSec=180
