services:
  db:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB:-mydb}
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data
      - ./init-db:/docker-entrypoint-initdb.d

  app:
    build: .
    restart: always
    ports:
      - "${APP_HOST_PORT:-4000}:3000"
    depends_on:
      - db
    env_file:
      - ./env/common.env
      - ./env/site.env
      - ./env/secrets.env
    command: npm start

volumes:
  db-data:
